<?xml version="1.0" ?>
<robot name="plane">

    <link name="link_plane">
        <contact>
            <lateral_friction value="1"/>
        </contact>

        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
            
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_plane.obj"/>
                <!-- <box size="0.802 1.806 0.022"/> -->
            </geometry>
            <material name="table_gray"/>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_plane.obj"/>
                <!-- <box size="0.802 1.806 0.022"/> -->
            </geometry>
        </collision>
        
    </link>

    <link name="link_leg1">
        <contact>
            <lateral_friction value="1"/>
        </contact>

        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
            
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_leg1.obj"/>
                <!-- <box size="0.06 0.06 0.993"/> -->
            </geometry>
            <material name="leg_gray"/>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_leg1.obj"/>
                <!-- <box size="0.06 0.06 0.993"/> -->
            </geometry>
        </collision>
        
    </link>

    <link name="link_leg2">
        <contact>
            <lateral_friction value="1"/>
        </contact>

        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
            
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_leg2.obj"/>
                <!-- <box size="0.06 0.06 0.993"/> -->
            </geometry>
            <material name="leg_gray"/>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_leg2.obj"/>
                <!-- <box size="0.06 0.06 0.993"/> -->
            </geometry>
    </collision>
        
    </link>

    <link name="link_leg3">
        <contact>
            <lateral_friction value="1"/>
        </contact>

        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
            
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_leg3.obj"/>
                <!-- <box size="0.06 0.06 0.993"/> -->
            </geometry>
            <material name="leg_gray"/>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_leg3.obj"/>
                <!-- <box size="0.06 0.06 0.993"/> -->
            </geometry>
        </collision>
        
    </link>

    <link name="link_leg4">
        <contact>
            <lateral_friction value="1"/>
        </contact>

        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value=".0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
            
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_leg4.obj"/>
                <!-- <box size="0.06 0.06 0.993"/> -->
            </geometry>
            <material name="leg_gray"/>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="mesh/high_table/link_leg4.obj"/>
                <!-- <box size="0.06 0.06 0.993"/> -->
            </geometry>
        </collision>
        
    </link>

    <joint name="fixed_joint1" type="fixed">
        <parent link="link_plane"/>
        <child link="link_leg1"/>
        <origin rpy="0 0 0.0" xyz="0.371 0.873 -0.507"/>
    </joint>

    <joint name="fixed_joint2" type="fixed">
        <parent link="link_plane"/>
        <child link="link_leg2"/>
        <origin rpy="0 0 0.0" xyz="-0.371 0.873 -0.507"/>
    </joint>

    <joint name="fixed_joint3" type="fixed">
        <parent link="link_plane"/>
        <child link="link_leg3"/>
        <origin rpy="0 0 0.0" xyz="0.371 -0.873 -0.507"/>
    </joint>

    <joint name="fixed_joint4" type="fixed">
        <parent link="link_plane"/>
        <child link="link_leg4"/>
        <origin rpy="0 0 0.0" xyz="-0.371 -0.873 -0.507"/>
    </joint>

    <material name="table_gray">
        <color rgba=".6 .6 .6 1.0"/>
    </material>

    <material name="leg_gray">
        <color rgba=".8 .8 .8 1.0"/>
    </material>

</robot>