<robot name="ycb_mug_mod">
    <link concave='yes' name="link_object">
        <visual>
            <origin rpy="0 0 0" xyz="0.00000 0.00000 0.00000" />
            <geometry>
                <mesh filename="mesh/mug/ycb_mug.obj" />
            </geometry>
            <material name='grey'/>
        </visual>

        <collision>
            <origin rpy="0 0 0" xyz="0.00000 0.00000 0.00000" />
            <geometry>
                <mesh filename="mesh/mug/ycb_mug.obj" />
            </geometry>
            <material name='grey'/>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <mass value="0.104" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>

    <material name='grey'>
        <color rgba=".8 .8 .8 1.0"/>
    </material>

</robot>


