<?xml version="1.0" ?>
<robot  name="Box">
  <material name="silver">
    <color rgba="0.700 0.700 0.700 1.000"/>
  </material>

  <link name="trapbox_base_link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="1.570796 0 0"/>
      <mass value="0"/>
      <inertia ixx="0." iyy="0." izz="0." ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_base_link.obj"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_base_link.obj"/>
      </geometry>
    </collision>
  </link>

  <link name="trapbox_wing_1">
    <inertial>
      <origin xyz="0. 0. 0." rpy="1.570796 0 0"/>
      <mass value="0"/>
      <inertia ixx="0." iyy="0." izz="0." ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_wing_1.obj"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_wing_1.obj"/>
      </geometry>
    </collision>
  </link>
 
  <link name="trapbox_wing_2">
    <inertial>
      <origin xyz="0. 0. 0." rpy="1.570796 0 0"/>
      <mass value="0"/>
      <inertia ixx="0." iyy="0." izz="0." ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_wing_2.obj"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_wing_2.obj"/>
      </geometry>
    </collision>
  </link>

  <link name="trapbox_wing_3">
    <inertial>
      <origin xyz="0. 0. 0." rpy="1.570796 0 0"/>
      <mass value="0"/>
      <inertia ixx="0." iyy="0." izz="0." ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_wing_3.obj"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_wing_3.obj"/>
      </geometry>
    </collision>
  </link>

  <link name="trapbox_wing_4">
    <inertial>
      <origin xyz="0. 0. 0." rpy="1.570796 0 0"/>
      <mass value="0"/>
      <inertia ixx="0." iyy="0." izz="0." ixy="0.0" iyz="0.0" ixz="0.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"  rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_wing_4.obj"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0"  rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="mesh/trapezoid_box/trapbox_wing_4.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="fixed_joint1" type="fixed">
      <parent link="trapbox_base_link"/>
      <child link="trapbox_wing_1"/>
      <origin rpy="0 0 0.0" xyz="0. 0. 0."/>
  </joint>

  <joint name="fixed_joint2" type="fixed">
      <parent link="trapbox_base_link"/>
      <child link="trapbox_wing_2"/>
      <origin rpy="0 0 0.0" xyz="0. 0. 0."/>
  </joint>

  <joint name="fixed_joint3" type="fixed">
      <parent link="trapbox_base_link"/>
      <child link="trapbox_wing_3"/>
      <origin rpy="0 0 0.0" xyz="0. 0. 0."/>
  </joint>

  <joint name="fixed_joint4" type="fixed">
      <parent link="trapbox_base_link"/>
      <child link="trapbox_wing_4"/>
      <origin rpy="0 0 0.0" xyz="0. 0. 0."/>
  </joint>

</robot>
